extends ../common/layout.pug

block content 
    main 
        h1 content
        p Далеко-далеко за словесными001
        each val in [1]
            article 
                .text Lorem, ipsum.
                